<h1 style="text-align: center;">Student Registration Details</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Is Graduate?</th>
            <th>Branch</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of student">
         <td>{{s.stud_name}}</td>
         <td>{{s.stud_email}}</td>
         <td>{{s.stud_age}}</td>
       <td><input type="checkbox" [checked]=s.stud_isGraduate disabled/></td>
         <td>{{s.stud_branch}}</td>  
        <td ><a class="btn btn-info" [routerLink]="['/update',s.id]">Edit Data </a></td>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <td><a class="btn btn-info" (click)="delete(s.id)">Delete Data</a></td>   
    </tr>
    </tbody>

</table>
